.Box{
    width: 100%;
    height: 100%;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Search{
    background-color: antiquewhite;
}